# Weather Dataset

In [7]:
import pandas as pd

In [8]:
#Read file through file path
file_path = r"C:\Users\Emmanuel\Downloads\archive\weather.csv"

data = pd.read_csv(file_path)

In [9]:
data

,MinTemp,MaxTemp,Rainfall,Evaporation,Sunshine,WindGustDir,WindGustSpeed,WindDir9am,WindDir3pm,WindSpeed9am,...,Humidity3pm,Pressure9am,Pressure3pm,Cloud9am,Cloud3pm,Temp9am,Temp3pm,RainToday,RISK_MM,RainTomorrow
0,8.0,24.3,0.0,3.4,6.3,NW,30.0,SW,NW,6.0,...,29,1019.7,1015.0,7,7,14.4,23.6,No,3.6,Yes
1,14.0,26.9,3.6,4.4,9.7,ENE,39.0,E,W,4.0,...,36,1012.4,1008.4,5,3,17.5,25.7,Yes,3.6,Yes
2,13.7,23.4,3.6,5.8,3.3,NW,85.0,N,NNE,6.0,...,69,1009.5,1007.2,8,7,15.4,20.2,Yes,39.8,Yes
3,13.3,15.5,39.8,7.2,9.1,NW,54.0,WNW,W,30.0,...,56,1005.5,1007.0,2,7,13.5,14.1,Yes,2.8,Yes
4,7.6,16.1,2.8,5.6,10.6,SSE,50.0,SSE,ESE,20.0,...,49,1018.3,1018.5,7,7,11.1,15.4,Yes,0.0,No
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
361,9.0,30.7,0.0,7.6,12.1,NNW,76.0,SSE,NW,7.0,...,15,1016.1,1010.8,1,3,20.4,30.0,No,0.0,No
362,7.1,28.4,0.0,11.6,12.7,N,48.0,NNW,NNW,2.0,...,22,1020.0,1016.9,0,1,17.2,28.2,No,0.0,No
363,12.5,19.9,0.0,8.4,5.3,ESE,43.0,ENE,ENE,11.0,...,47,1024.0,1022.8,3,2,14.5,18.3,No,0.0,No
364,12.5,26.9,0.0,5.0,7.1,NW,46.0,SSW,WNW,6.0,...,39,1021.0,1016.2,6,7,15.8,25.9,No,0.0,No
365,12.3,30.2,0.0,6.0,12.6,NW,78.0,NW,WNW,31.0,...,13,1009.6,1009.2,1,1,23.8,28.6,No,0.0,No

# How to Analyse data

# .head()
this show the first N rows in the data (by defualt, N=5)

In [10]:
#shows top 5 rows
data.head()

,MinTemp,MaxTemp,Rainfall,Evaporation,Sunshine,WindGustDir,WindGustSpeed,WindDir9am,WindDir3pm,WindSpeed9am,...,Humidity3pm,Pressure9am,Pressure3pm,Cloud9am,Cloud3pm,Temp9am,Temp3pm,RainToday,RISK_MM,RainTomorrow
0,8.0,24.3,0.0,3.4,6.3,NW,30.0,SW,NW,6.0,...,29,1019.7,1015.0,7,7,14.4,23.6,No,3.6,Yes
1,14.0,26.9,3.6,4.4,9.7,ENE,39.0,E,W,4.0,...,36,1012.4,1008.4,5,3,17.5,25.7,Yes,3.6,Yes
2,13.7,23.4,3.6,5.8,3.3,NW,85.0,N,NNE,6.0,...,69,1009.5,1007.2,8,7,15.4,20.2,Yes,39.8,Yes
3,13.3,15.5,39.8,7.2,9.1,NW,54.0,WNW,W,30.0,...,56,1005.5,1007.0,2,7,13.5,14.1,Yes,2.8,Yes
4,7.6,16.1,2.8,5.6,10.6,SSE,50.0,SSE,ESE,20.0,...,49,1018.3,1018.5,7,7,11.1,15.4,Yes,0.0,No

# .shape

In [11]:
data.shape

(366, 22)

# index
this provides the index of the dataframe

In [16]:
data.index

RangeIndex(start=0, stop=366, step=1)

# columns 
shows the name of each columns

In [19]:
data.columns

Index(['MinTemp', 'MaxTemp', 'Rainfall', 'Evaporation', 'Sunshine',
       'WindGustDir', 'WindGustSpeed', 'WindDir9am', 'WindDir3pm',
       'WindSpeed9am', 'WindSpeed3pm', 'Humidity9am', 'Humidity3pm',
       'Pressure9am', 'Pressure3pm', 'Cloud9am', 'Cloud3pm', 'Temp9am',
       'Temp3pm', 'RainToday', 'RISK_MM', 'RainTomorrow'],
      dtype='object')

# dtypes
this shows the type of data in each column

In [20]:
data.dtypes

MinTemp          float64
MaxTemp          float64
Rainfall         float64
Evaporation      float64
Sunshine         float64
WindGustDir       object
WindGustSpeed    float64
WindDir9am        object
WindDir3pm        object
WindSpeed9am     float64
WindSpeed3pm       int64
Humidity9am        int64
Humidity3pm        int64
Pressure9am      float64
Pressure3pm      float64
Cloud9am           int64
Cloud3pm           int64
Temp9am          float64
Temp3pm          float64
RainToday         object
RISK_MM          float64
RainTomorrow      object
dtype: object

# .unique()
shows all the unique values. only applied on a single column

In [22]:
data['MinTemp'].unique()

array([ 8. , 14. , 13.7, 13.3,  7.6,  6.2,  6.1,  8.3,  8.8,  8.4,  9.1,
        8.5, 10.1, 12.1, 12.4, 13.8, 11.7, 15.6, 15.3, 16.4, 12.8, 12. ,
       15.4, 12.9, 15.1, 13.6, 11.6, 16.6, 14.5, 16.3, 17.2, 16.5, 15. ,
       14.9, 11.8,  9.6,  8.9, 15.5, 10.8,  7.5, 12.6, 14.8, 19.9,  9.2,
       11.3,  9.8, 14.3, 14.4, 15.9, 16.7, 17.5, 14.7, 20.9, 17. , 16. ,
       17.9, 15.2, 10. ,  9.9, 10.3, 12.7, 13.2, 18. , 17.6, 17.1, 18.2,
       16.8, 10.4,  8.6, 11.2, 11.4, 11.5, 13. ,  7.7,  4.4,  7.4,  9.5,
       12.5, 13.9, 12.3, 13.1,  7.1,  4.2,  3.5,  5.3,  7. ,  0.4,  3.2,
        5.9,  8.1,  6.9,  5.6,  7.2,  5.4,  6.3,  7.9,  2.4,  2.5,  5. ,
        3.8,  4.3, -2.1, -1.8,  2.1,  0.5, -0.9, -0.2,  0.1,  1.5,  9.4,
        1.3,  2.2, -0.4,  4.5, -2.7,  0.3,  1.2, -0.3,  4.7,  4.9,  1.4,
       -0.1,  0.6,  4.6, 10.6,  7.8, 10.2,  7.3,  8.7,  1. ,  6.4,  4. ,
        0.9,  0.8, -1.5,  6.6, -1.6, -3.1, -0.6,  3. ,  2.9, -1.3,  1.8,
       -2.6,  2.7, -1.7, -1.1,  2.3, -2.2, -3.5, -1. , -2. , -2.3, -2.8,
       -1.9,  4.8,  3.1, -2.9,  3.7, -3.4, -5.3,  0. , -3.7, -3.3,  4.1,
        5.8,  0.2, -2.5, -0.5,  9. ,  3.9,  0.7,  1.1,  5.1,  6.5,  8.2,
        6.7, 11.9,  3.4,  3.3])

# .nunique()
shows total number in columns applied to both columns and dataframe

In [27]:
data.nunique()
data['MaxTemp'].nunique()

187

# .count
this shows the total no. of non null values in each columns can be applied to single columns and whole dataframe

In [28]:
data.count()

MinTemp          366
MaxTemp          366
Rainfall         366
Evaporation      366
Sunshine         363
WindGustDir      363
WindGustSpeed    364
WindDir9am       335
WindDir3pm       365
WindSpeed9am     359
WindSpeed3pm     366
Humidity9am      366
Humidity3pm      366
Pressure9am      366
Pressure3pm      366
Cloud9am         366
Cloud3pm         366
Temp9am          366
Temp3pm          366
RainToday        366
RISK_MM          366
RainTomorrow     366
dtype: int64

# .value_counts
shows all data that is unique and their count only used in single columns

In [29]:
data['MinTemp'].value_counts()

0.5     6
4.4     6
15.1    5
3.2     5
2.3     5
       ..
13.9    1
9.5     1
7.7     1
11.4    1
3.3     1
Name: MinTemp, Length: 180, dtype: int64

# .info()
provides basic information about the dataframes

In [30]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 366 entries, 0 to 365
Data columns (total 22 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   MinTemp        366 non-null    float64
 1   MaxTemp        366 non-null    float64
 2   Rainfall       366 non-null    float64
 3   Evaporation    366 non-null    float64
 4   Sunshine       363 non-null    float64
 5   WindGustDir    363 non-null    object
 6   WindGustSpeed  364 non-null    float64
 7   WindDir9am     335 non-null    object
 8   WindDir3pm     365 non-null    object
 9   WindSpeed9am   359 non-null    float64
 10  WindSpeed3pm   366 non-null    int64
 11  Humidity9am    366 non-null    int64
 12  Humidity3pm    366 non-null    int64
 13  Pressure9am    366 non-null    float64
 14  Pressure3pm    366 non-null    float64
 15  Cloud9am       366 non-null    int64
 16  Cloud3pm       366 non-null    int64
 17  Temp9am        366 non-null    float64
 18  Temp3pm        366 non-null    float64
 19  RainToday      366 non-null    object
 20  RISK_MM        366 non-null    float64
 21  RainTomorrow   366 non-null    object
dtypes: float64(12), int64(5), object(5)
memory usage: 63.0+ KB

# Find all the unique 'Sunshine' value in the data

In [31]:
data.head(2)

,MinTemp,MaxTemp,Rainfall,Evaporation,Sunshine,WindGustDir,WindGustSpeed,WindDir9am,WindDir3pm,WindSpeed9am,...,Humidity3pm,Pressure9am,Pressure3pm,Cloud9am,Cloud3pm,Temp9am,Temp3pm,RainToday,RISK_MM,RainTomorrow
0,8.0,24.3,0.0,3.4,6.3,NW,30.0,SW,NW,6.0,...,29,1019.7,1015.0,7,7,14.4,23.6,No,3.6,Yes
1,14.0,26.9,3.6,4.4,9.7,ENE,39.0,E,W,4.0,...,36,1012.4,1008.4,5,3,17.5,25.7,Yes,3.6,Yes

In [32]:
data.nunique()

MinTemp          180
MaxTemp          187
Rainfall          47
Evaporation       55
Sunshine         114
WindGustDir       16
WindGustSpeed     35
WindDir9am        16
WindDir3pm        16
WindSpeed9am      22
WindSpeed3pm      26
Humidity9am       60
Humidity3pm       74
Pressure9am      190
Pressure3pm      193
Cloud9am           9
Cloud3pm           9
Temp9am          178
Temp3pm          200
RainToday          2
RISK_MM           47
RainTomorrow       2
dtype: int64

In [33]:
data['Sunshine'].nunique()

114

In [34]:
#All unique values of Sunshine
data['Sunshine'].unique()

array([ 6.3,  9.7,  3.3,  9.1, 10.6,  8.2,  8.4,  4.6,  4.1,  7.7, 11.9,
       12.5, 13. , 12.4, 13.1, 11.1, 10.1, 10.4,  9.5,  0. ,  0.6,  7.5,
        8.1,  8.9,  2.3, 10.7,  0.4,  0.5,  0.2, 12. ,  4.7, 11.8,  9.8,
        8.8, 10. ,  7.3,  3.6, 12.7,  0.9,  8.7,  0.8,  5.9, 10.2, 12.1,
        5.6,  7.1, 13.2, 13.6, 12.8, 10.5,  2.2, 11.7, 12.6, 13.3,  6.9,
       13.5,  6. , 11.6,  0.1,  1.6, 10.8,  9.9,  9. ,  6.2,  9.2,  0.3,
        8. ,  9.6,  3.8,  8.6, 11. , 11.3, 11.5, 11.2,  8.5, 11.4,  1.9,
       10.3,  9.3,  7.8,  6.8,  6.1,  8.3,  4.9,  7.9,  6.5,  5.8,  7. ,
        9.4,  3. ,  4.3,  1.7,  6.7,  5.1,  2.7,  2.6,  nan,  7.2,  2. ,
        7.6,  6.4,  3.9,  2.8,  1.2,  5.2,  0.7,  4.2,  5. ,  1.8,  2.4,
        2.9, 10.9, 12.2,  3.5,  5.3])

# Find number of time weather is heavy rain

In [40]:
#data.head(2)
data[data.Rainfall > 10]

,MinTemp,MaxTemp,Rainfall,Evaporation,Sunshine,WindGustDir,WindGustSpeed,WindDir9am,WindDir3pm,WindSpeed9am,...,Humidity3pm,Pressure9am,Pressure3pm,Cloud9am,Cloud3pm,Temp9am,Temp3pm,RainToday,RISK_MM,RainTomorrow
3,13.3,15.5,39.8,7.2,9.1,NW,54.0,WNW,W,30.0,...,56,1005.5,1007.0,2,7,13.5,14.1,Yes,2.8,Yes
9,8.4,22.8,16.2,5.4,7.7,E,31.0,S,ESE,7.0,...,32,1024.1,1020.7,7,1,13.3,21.7,Yes,0.0,No
22,12.8,18.5,25.8,2.8,0.6,ESE,28.0,S,SE,13.0,...,79,1014.0,1014.9,8,8,14.0,16.8,Yes,0.4,No
30,15.1,20.4,22.6,2.4,0.2,SSE,41.0,E,S,6.0,...,90,1015.0,1014.1,8,8,17.0,16.3,Yes,4.2,Yes
51,19.9,22.0,11.0,4.4,5.9,NNW,76.0,N,WNW,41.0,...,62,996.5,996.8,8,3,20.6,19.6,Yes,17.4,Yes
52,9.2,20.4,17.4,7.8,10.2,ENE,39.0,N,N,9.0,...,49,1009.5,1009.1,1,7,14.9,18.8,Yes,0.0,No
57,15.1,28.3,14.4,8.8,13.2,NNW,28.0,NNW,NW,6.0,...,44,1016.8,1013.4,1,5,18.3,27.4,Yes,0.0,No
79,15.3,19.6,18.8,5.0,0.0,NE,33.0,SSE,NNE,9.0,...,88,1008.7,1006.0,8,8,18.0,18.6,Yes,12.2,Yes
80,17.2,24.7,12.2,1.4,8.1,NW,50.0,NW,WNW,19.0,...,71,1004.9,1004.0,7,8,19.4,21.9,Yes,0.8,No
99,12.4,19.9,16.2,5.4,5.6,ENE,41.0,ESE,ESE,7.0,...,58,1007.6,1005.0,7,7,13.6,18.7,Yes,0.0,No
104,12.6,18.2,11.0,3.2,0.4,ENE,30.0,SSE,SSE,13.0,...,73,1010.0,1011.0,7,8,16.3,16.8,Yes,0.2,No
120,7.7,18.4,10.4,5.2,12.0,S,48.0,S,S,24.0,...,34,1015.5,1014.5,5,1,10.6,16.8,Yes,0.0,No
146,12.6,20.2,19.8,2.6,9.1,W,46.0,NNW,W,17.0,...,50,1007.9,1008.4,5,4,15.1,17.4,Yes,0.0,No
250,2.9,9.5,16.8,1.4,6.5,NW,35.0,NaN,NW,0.0,...,72,1021.6,1019.6,6,6,5.5,7.4,Yes,0.0,No
263,2.3,11.6,19.2,1.8,7.5,WNW,54.0,WNW,WNW,26.0,...,56,1006.9,1010.3,7,3,7.6,11.2,Yes,0.0,No
327,7.8,16.2,17.4,6.4,7.9,NW,50.0,NW,N,15.0,...,44,1016.7,1017.8,7,1,8.0,14.3,Yes,0.0,No
348,11.9,21.1,13.2,6.6,NaN,NW,41.0,NNE,N,7.0,...,61,1019.2,1016.7,7,3,14.5,19.4,Yes,0.6,No

In [37]:
#value_counts()
data['Rainfall'].value_counts

<bound method IndexOpsMixin.value_counts of 0       0.0
1       3.6
2       3.6
3      39.8
4       2.8
       ...
361     0.0
362     0.0
363     0.0
364     0.0
365     0.0
Name: Rainfall, Length: 366, dtype: float64>

In [41]:
#groupby
data.head(2)

,MinTemp,MaxTemp,Rainfall,Evaporation,Sunshine,WindGustDir,WindGustSpeed,WindDir9am,WindDir3pm,WindSpeed9am,...,Humidity3pm,Pressure9am,Pressure3pm,Cloud9am,Cloud3pm,Temp9am,Temp3pm,RainToday,RISK_MM,RainTomorrow
0,8.0,24.3,0.0,3.4,6.3,NW,30.0,SW,NW,6.0,...,29,1019.7,1015.0,7,7,14.4,23.6,No,3.6,Yes
1,14.0,26.9,3.6,4.4,9.7,ENE,39.0,E,W,4.0,...,36,1012.4,1008.4,5,3,17.5,25.7,Yes,3.6,Yes