In [3]:
# Correct the syntax error in the following code:
num = 5
if num > 3:
    print("Number is greater than 3")

Number is greater than 3

In [5]:
# Correct the syntax error in the following code:
def add_numbers(a, b):
    return a + b
result = add_numbers(2, 3)
print(result)

5

In [8]:
# Correct the syntax error in the following code:
string_var = "Hello, world!"
print(len(string_var)) #len() function

13

In [10]:
# Correct the syntax error in the following code:
for i in range(5):#Colon
    print(i)

0
1
2
3
4

In [22]:
# Correct the syntax error in the following code:
def multiply(a, b):
    result = a * b
    return result

x = 4
y = 7
print(f"The product is: " + str, multiply(x, y)) #Convert the integer variable to a string before concatenating

The product is: Hello, world! 28

In [24]:
# Correct the syntax error in the following code:
age = int(input("Enter your age: "))#int function needed 
if age < 18:
    print("You are a minor.")
else:
    print("You are an adult.")

Enter your age: 17
You are a minor.

In [26]:
# Correct the syntax error in the following code:
numbers = [1, 2, 3, 4, 5]
for num in numbers: #colon
    print(num)

1
2
3
4
5

In [28]:
# Correct the syntax error in the following code:
def greet(name):
    print("Hello, " + name + "!")
greet("Alice")

Hello, Alice!

In [36]:
# correct the docstrings

def calculate(value1,value2):
    ''''calculates the sum of two numbers and multiplies the sum by its product''' #indentation and addage of ''' '''
    return (value1+value2)*value1*value2

In [9]:
# convert list of ids to primary keys
#Primary keys are unique values
#Hint : You can convert a list of number to a set of unique numbers using the set() type casting function.

list1 = set([1,1,2,34,2,1,3,5,6,8,9])#add sets to create unique numbers
for i in range(0,len(list1)):
    print(list1)

{1, 2, 3, 34, 5, 6, 8, 9}
{1, 2, 3, 34, 5, 6, 8, 9}
{1, 2, 3, 34, 5, 6, 8, 9}
{1, 2, 3, 34, 5, 6, 8, 9}
{1, 2, 3, 34, 5, 6, 8, 9}
{1, 2, 3, 34, 5, 6, 8, 9}
{1, 2, 3, 34, 5, 6, 8, 9}
{1, 2, 3, 34, 5, 6, 8, 9}

In [6]:
# whats wrong with the print output
Gender = 'Male'
Age = '33.133'
DOB = '23/04/1998.45'
store_str = 'I am a {} YO {} and my date of bith is {}'.format(Age[0:2],Gender,DOB)
print(store_str)
#format is not done in correct order

I am a 33 YO Male and my date of bith is 23/04/1998.45

In [4]:
#Whats wrong with the syntax
def number_info(value):
    if value == 2:
        print('Value is 2')
    if value%2==0:
        print('Value is prime')
    if value<5:
        print('Value is less than 5')
#indentation problem to the code block

Below exercises are not needed for homework submission on week 1

In [7]:
#Write a function to return every nth element from the list and store it in a single list as a list with nested list each containing n elements
# example:
# [1,2,3,4,5,6,7,8,8,9]
# n=3
# output:
# [[1,2,3],[4,5,6],[7,8,8],[9]]

import numpy as np

arr = np.random.randint(0,100,10000)
def return_nt_Element(value, n):
    element_list = [] #inialise the element_list
    sublist = [] #initialiuse sublist to hold n 
    for i, element in enumerate(value): ##enumerate used to loop through the inputted list
        sublist.append(element)#check the current element to the sublist
        if (i + 1) % n == 0 or i == len(value) - 1: #check if index is increaed by 1 checks if equal to length 
            element_list.append(sublist) #add sublist to element list 
            sublist=[] #reset sublist 
        
    print(element_list)

In [ ]:
# Write a Python program to create a list by concatenating a given list which range goes from 1 to n
# example list ['a','b']
# n = 5
# output ['a1','a2','a3','a4','a5','b1','b2','b3','b4','b5']

def Conc_list(n): #define function
    list1 = [] #list is initialised
    for i in range (1, n + 1): # loop iterates from 1 to n
        list1.append(i) # append to add current value of i to list
        
    return list1 # return list 1